.cField {
	width: 100%;

	.md-text-field-container {
		width: 100%;
	}
}

/* ==========================================================================
   DATE
   ========================================================================== */
.cField-date {
	.md-text-field-divider-container {
		flex-grow: 1;
		flex-shrink: 1;
	}
}