body > span > .md-dialog-container.md-overlay {
	z-index: 9999;
}


.customDialog {
	// .customDialog_dialog
	&_dialog {
		width: 100vw;
		max-width: 800px;
	}

	// .customDialog_header
	&_header {
		padding: 1rem;
		border-bottom: 1px solid $gray-200;
		font-family: $font-family;
		font-weight: bold;
	}

	// .customDialog_content
	&_content {
		overflow: visible;

		.row:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}


$fullpage-zIndex-initial-value: 99999;
$fullpage-number-of-spans: 3; 
body {
	$z-index : $fullpage-zIndex-initial-value;
	@for $i from $fullpage-number-of-spans through 1{

		> span:nth-child( #{$fullpage-number-of-spans}n + #{$i} ) {
			&:not(.dna-preloader) ,
			&:not(#app-container) {
				.md-dialog-container {
					z-index: $z-index;
				}
			}
		}

		$z-index : $z-index + 10;
	}
}

.md-no-scroll {
	width: 100%;
}
